@import "./_style.scss";
/*
*elementui菜单样式
 */
.el-menu{
    min-height: 100%;
    @include prefix(transition,all 0.3s ease 0);
    .el-menu--collapse { /*收缩后的高度 */
        min-height: 100%;
    }
    &:not(.el-menu--collapse) { /*收缩前宽度 */
        width: 200px;
    }
    & .el-submenu.is-active .el-submenu__title{ /*一级菜单选中时 */
        color: #fff !important;
        // background-color: rgba(245, 108, 108, 1) !important;
        &>i{
            color: #fff !important;
        }
    }
    & .el-menu-item {  /*子菜单 */
        min-width: 200px !important;
        background-color: #1f2d3d !important;
        &:hover{/*子菜单鼠标悬浮 */
            min-width: 200px !important;
            background-color: #001528 !important;
        }
        &.is-active{ /* 子菜单选中时 */
            background-color: #001528 !important;
            // color: #fff !important;
            // background-color: rgba(245, 108, 108, 0.5) !important;
        }
    }
}

.el-container{
     z-index: 0 !important;
}